<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Personas Thymelaf</title>
        <!--<th:block th:include="layout/header"></th:block>-->
        <script type="text/javascript" src="/js/funciones.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="css/estilos.css" th:href="@{css/estilos.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
       
<div class="jumbotron text-center">
   <h1 align="center" class="bg-dark text-white">Personas</h1>
   <br/>
   <a href="#" th:href="@{/home}" title="regreso">Home</a>
    <div th:if="${!personas.isEmpty()}">
  <table class="table" id="tablaPersonas" align="center" border="1" dt:table="true">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Edad</th>
                <th>Peso</th>
                <th>Estatura</th>
                <th>I.M.C.</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="persona : ${personas}">
                <td th:text="${persona?.nombre}"></td>
                <td th:text="${persona?.apellidos}"></td>
                <td th:text="${persona?.edad+' años'}"></td>
                <td th:text="${persona?.peso+' kgs.'}"></td>
                <td th:text="${persona?.estatura+' mts.'}"></td>
                <td th:text="${(persona.peso/(persona.estatura*persona.estatura))+' kg/m2'}"></td>
            </tr>
        </tbody>
    </table>
   </div>
</div>
<!--<div th:include="layout/footer"></div>-->
</body>
</html>