<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Visitantes Thymeleaf</title>
        <!--<th:block th:include="layout/header"></th:block>-->
        
        <link rel="stylesheet" type="text/css" media="all" href="../css/estilos.css" th:href="@{../css/estilos.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
       
<div class="jumbotron text-center">
   <h1 align="center" class="bg-dark text-white">Visitantes</h1><br/>
   <a href="#" th:href="@{/home}" title="regreso">Home</a>

   <div>
    <table border="1" class="striped">
        <thead>
          <tr>
            <th>Fecha de registro</th>
            <th>Comentario</th>
          </tr>
        </thead>
        <tbody id="contenido">
        </tbody>
      </table>
   </div>
    
   <script type="text/javascript" th:src="@{/js/funciones.js}" src="/js/funciones.js"></script>
</div>
<!--<div th:include="layout/footer"></div>-->
</body>
</html>